.meals {
  margin: 2rem auto;
  width: 90%;
  max-width: 60rem;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.loading-mask {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  /* background-color: rgba(0, 0, 0, 0.25); */
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1000;
  background-size: 200px;
}
.Loading {
  text-align: center;
  color: #fff;
}
.ErrorHttp {
  text-align: center;
  color: red;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
